<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../../partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('../../partials/header'); %>
</header>
<body>
  <h1>Contacts</h1>
  
  <table>
    <thead>
      <tr>
        <th>Contact Name</th>
        <th>Contact Number</th>
        <th>Email Address</th>
        <th>Actions</th>
      </tr>
    </thead>
    <!--Dynamically generates table rows for each contact in the given array and sorts alphabetically -->
    <tbody>
      <% contacts.sort((a, b) => a.contactName.localeCompare(b.contactName)).forEach(contact => { %>
        <tr>
          <td><%= contact.contactName %></td>
          <td><%= contact.contactNumber %></td>
          <td><%= contact.email %></td>
          <td>
            <a href="/update/<%= contact._id %>">Update</a>
            <a href="#" onclick="confirmDelete('<%= contact._id %>')">Delete</a>
          </td>
        </tr>
      <% }) %>
    </tbody>
  </table>
  
  <div class="logout-button">
    <a href="/logout" class="btn btn-primary">Logout</a>
  </div>

</body>

<script>
  function confirmDelete(contactId) {
    if (confirm("Are you sure you want to delete this contact?")) {
      window.location.href = "/delete/" + contactId;
    }
  }
</script>

</html>